USE [SanOto]
GO
/****** Object:  Table [dbo].[Firma]    Script Date: 15.12.2020 22:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Firma](
	[f_id] [int] IDENTITY(1,1) NOT NULL,
	[f_ad] [varchar](150) NULL,
	[f_yetkiliAdSoyad] [nchar](100) NULL,
	[f_sehir] [nvarchar](150) NULL,
	[f_ilce] [nvarchar](150) NULL,
	[f_mahalle] [nvarchar](150) NULL,
	[f_kategori] [int] NULL,
	[f_adresDetay] [varchar](350) NULL,
	[f_yetkiliTel] [nvarchar](11) NULL,
	[f_sirketTel] [nvarchar](11) NULL,
	[f_calismaSaat] [varchar](50) NULL,
	[f_calismagun] [int] NULL,
	[f_foto] [nvarchar](256) NULL,
	[f_epota] [nvarchar](50) NULL,
	[f_fiyat] [decimal](18, 2) NULL,
	[f_gelenMesaj] [int] NULL,
	[f_kullanici] [int] NULL,
	[f_detay] [nvarchar](500) NULL,
	[f_ustaFoto] [nvarchar](256) NULL,
 CONSTRAINT [PK_Firma] PRIMARY KEY CLUSTERED 
(
	[f_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Gunler]    Script Date: 15.12.2020 22:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Gunler](
	[gun_id] [int] IDENTITY(1,1) NOT NULL,
	[gunler] [varchar](50) NULL,
 CONSTRAINT [PK_Gunler] PRIMARY KEY CLUSTERED 
(
	[gun_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Ilan]    Script Date: 15.12.2020 22:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilan](
	[ilan_id] [int] IDENTITY(1,1) NOT NULL,
	[ilan_baslik] [nvarchar](150) NULL,
	[ilan_kategori] [int] NULL,
	[ilan_sehir] [nvarchar](150) NULL,
	[ilan_ilce] [nvarchar](150) NULL,
	[ilan_mahalle] [nvarchar](150) NULL,
	[ilan_detay] [nvarchar](max) NULL,
	[ilan_tarih] [nvarchar](50) NOT NULL,
	[ilan_fiyat] [decimal](18, 2) NULL,
	[ilan_verenAd] [nvarchar](100) NULL,
	[ilan_verenSoyad] [nvarchar](100) NULL,
	[ilan_verenTel] [nvarchar](11) NULL,
	[ilan_verenEposta] [nvarchar](50) NULL,
	[ilan_adres] [nvarchar](200) NULL,
	[ilan_foto] [nvarchar](256) NULL,
	[ilan_gelenMesaj] [int] NULL,
	[ilan_kullanici] [int] NULL,
 CONSTRAINT [PK_Ilanlarr] PRIMARY KEY CLUSTERED 
(
	[ilan_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ilceler]    Script Date: 15.12.2020 22:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilceler](
	[ilceId] [int] NOT NULL,
	[SehirId] [int] NOT NULL,
	[IlceAdi] [nvarchar](60) NOT NULL,
	[SehirAdi] [nvarchar](55) NOT NULL,
 CONSTRAINT [PK_Ilceler] PRIMARY KEY CLUSTERED 
(
	[ilceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kategori]    Script Date: 15.12.2020 22:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kategori](
	[kategori_ID] [int] IDENTITY(1,1) NOT NULL,
	[kategori_ad] [nvarchar](250) NULL,
 CONSTRAINT [PK_Kategori] PRIMARY KEY CLUSTERED 
(
	[kategori_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Kullanici]    Script Date: 15.12.2020 22:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanici](
	[k_id] [int] IDENTITY(1,1) NOT NULL,
	[k_ad] [nvarchar](50) NULL,
	[k_soyad] [nvarchar](50) NULL,
	[k_eposta] [nvarchar](50) NULL,
	[k_sifre] [nvarchar](50) NULL,
	[k_gonderilenMesaj] [int] NULL,
	[k_alinanMesaj] [int] NULL,
	[k_tipi] [bit] NULL,
	[k_firma] [int] NULL,
	[k_ilan] [int] NULL,
 CONSTRAINT [PK_Kullanici] PRIMARY KEY CLUSTERED 
(
	[k_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Mesaj]    Script Date: 15.12.2020 22:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Mesaj](
	[m_id] [int] IDENTITY(1,1) NOT NULL,
	[m_gonderenAd] [nvarchar](50) NULL,
	[m_aliciAd] [nvarchar](50) NULL,
	[m_mesaj] [nvarchar](250) NULL,
	[m_ilanMesaj] [int] NULL,
	[m_firmaMesaj] [int] NULL,
 CONSTRAINT [PK_Mesaj] PRIMARY KEY CLUSTERED 
(
	[m_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sehirler]    Script Date: 15.12.2020 22:49:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehirler](
	[SehirId] [int] NOT NULL,
	[SehirAdi] [nvarchar](20) NOT NULL,
	[PlakaNo] [tinyint] NOT NULL,
	[TelefonKodu] [int] NOT NULL,
	[RowNumber] [int] NOT NULL,
 CONSTRAINT [PK_Sehirler] PRIMARY KEY CLUSTERED 
(
	[SehirId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Firma] ON 

SET IDENTITY_INSERT [dbo].[Firma] OFF
SET IDENTITY_INSERT [dbo].[Gunler] ON 

INSERT [dbo].[Gunler] ([gun_id], [gunler]) VALUES (8, N'Hafta İçi')
INSERT [dbo].[Gunler] ([gun_id], [gunler]) VALUES (9, N'Hafta Sonu')
INSERT [dbo].[Gunler] ([gun_id], [gunler]) VALUES (10, N'Bütün Hafta')
SET IDENTITY_INSERT [dbo].[Gunler] OFF
SET IDENTITY_INSERT [dbo].[Ilan] ON 

INSERT [dbo].[Ilan] ([ilan_id], [ilan_baslik], [ilan_kategori], [ilan_sehir], [ilan_ilce], [ilan_mahalle], [ilan_detay], [ilan_tarih], [ilan_fiyat], [ilan_verenAd], [ilan_verenSoyad], [ilan_verenTel], [ilan_verenEposta], [ilan_adres], [ilan_foto], [ilan_gelenMesaj], [ilan_kullanici]) VALUES (1, N'Işık ve Radyoda Elektrik Sorunu', 6, N'Çorum', N'Saşha', NULL, N'asdsafasfasf', N'434534', CAST(23233.00 AS Decimal(18, 2)), N'Yavuz', N'Güloğlu', N'05071539337', N'yavuzguloglu@outlook.com', N'ads', N'a63a63f6-29f3-416d-9c11-fd38d7d8655e.png', NULL, 30)
INSERT [dbo].[Ilan] ([ilan_id], [ilan_baslik], [ilan_kategori], [ilan_sehir], [ilan_ilce], [ilan_mahalle], [ilan_detay], [ilan_tarih], [ilan_fiyat], [ilan_verenAd], [ilan_verenSoyad], [ilan_verenTel], [ilan_verenEposta], [ilan_adres], [ilan_foto], [ilan_gelenMesaj], [ilan_kullanici]) VALUES (2, N'Teker Değişimi', 8, N'Tekirdağ', N'Atakum', NULL, N'gsdagvsdg', N'15.04.2020', CAST(2323.00 AS Decimal(18, 2)), N'Yavuz', N'Güloğlu', N'05071539322', N'yavuzguloglu@outlook.com', N'vffff', N'cda7b222-61cb-49fe-b7c8-a8c0999d9ebe.png', NULL, 30)
SET IDENTITY_INSERT [dbo].[Ilan] OFF
INSERT [dbo].[Ilceler] ([ilceId], [SehirId], [IlceAdi], [SehirAdi]) VALUES (1, 1, N'AKÇAKOCA', N'DÜZCE')
INSERT [dbo].[Ilceler] ([ilceId], [SehirId], [IlceAdi], [SehirAdi]) VALUES (2, 1, N'CUMAYERİ', N'DÜZCE')
INSERT [dbo].[Ilceler] ([ilceId], [SehirId], [IlceAdi], [SehirAdi]) VALUES (3, 1, N'ÇİLİMLİ', N'DÜZCE')
GO
SET IDENTITY_INSERT [dbo].[Kategori] ON 

INSERT [dbo].[Kategori] ([kategori_ID], [kategori_ad]) VALUES (1, N'Motor')
INSERT [dbo].[Kategori] ([kategori_ID], [kategori_ad]) VALUES (2, N'Boya')
INSERT [dbo].[Kategori] ([kategori_ID], [kategori_ad]) VALUES (3, N'Şasi veya Kaporta')
SET IDENTITY_INSERT [dbo].[Kategori] OFF
SET IDENTITY_INSERT [dbo].[Kullanici] ON 

INSERT [dbo].[Kullanici] ([k_id], [k_ad], [k_soyad], [k_eposta], [k_sifre], [k_gonderilenMesaj], [k_alinanMesaj], [k_tipi], [k_firma], [k_ilan]) VALUES (6, N'a', N'a', N'aa@a.com', N'aa', NULL, NULL, 0, NULL, NULL)
INSERT [dbo].[Kullanici] ([k_id], [k_ad], [k_soyad], [k_eposta], [k_sifre], [k_gonderilenMesaj], [k_alinanMesaj], [k_tipi], [k_firma], [k_ilan]) VALUES (27, N'Şenol', N'Kıyabat', N'senolkiyabat@hotmail.com', N'qq', NULL, NULL, 1, NULL, NULL)
INSERT [dbo].[Kullanici] ([k_id], [k_ad], [k_soyad], [k_eposta], [k_sifre], [k_gonderilenMesaj], [k_alinanMesaj], [k_tipi], [k_firma], [k_ilan]) VALUES (28, N'e', N'e', N'e@e.com', N'e', NULL, NULL, 0, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Kullanici] OFF
INSERT [dbo].[Sehirler] ([SehirId], [SehirAdi], [PlakaNo], [TelefonKodu], [RowNumber]) VALUES (1, N'DÜZCE', 81, 380, 82)
INSERT [dbo].[Sehirler] ([SehirId], [SehirAdi], [PlakaNo], [TelefonKodu], [RowNumber]) VALUES (2, N'OSMANİYE', 80, 328, 81)
INSERT [dbo].[Sehirler] ([SehirId], [SehirAdi], [PlakaNo], [TelefonKodu], [RowNumber]) VALUES (3, N'KİLİS', 79, 348, 80)
ALTER TABLE [dbo].[Firma]  WITH CHECK ADD  CONSTRAINT [FK_Firma_Gunler] FOREIGN KEY([f_calismagun])
REFERENCES [dbo].[Gunler] ([gun_id])
GO
ALTER TABLE [dbo].[Firma] CHECK CONSTRAINT [FK_Firma_Gunler]
GO
ALTER TABLE [dbo].[Firma]  WITH CHECK ADD  CONSTRAINT [FK_Firma_Kategori] FOREIGN KEY([f_kategori])
REFERENCES [dbo].[Kategori] ([kategori_ID])
GO
ALTER TABLE [dbo].[Firma] CHECK CONSTRAINT [FK_Firma_Kategori]
GO
ALTER TABLE [dbo].[Ilan]  WITH CHECK ADD  CONSTRAINT [FK_Ilanlarr_Kategori] FOREIGN KEY([ilan_kategori])
REFERENCES [dbo].[Kategori] ([kategori_ID])
GO
ALTER TABLE [dbo].[Ilan] CHECK CONSTRAINT [FK_Ilanlarr_Kategori]
GO
ALTER TABLE [dbo].[Ilceler]  WITH CHECK ADD  CONSTRAINT [FK_Ilceler_Sehirler] FOREIGN KEY([SehirId])
REFERENCES [dbo].[Sehirler] ([SehirId])
GO
ALTER TABLE [dbo].[Ilceler] CHECK CONSTRAINT [FK_Ilceler_Sehirler]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Firma] FOREIGN KEY([k_firma])
REFERENCES [dbo].[Firma] ([f_id])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_Kullanici_Firma]
GO
ALTER TABLE [dbo].[Kullanici]  WITH CHECK ADD  CONSTRAINT [FK_Kullanici_Ilanlarr] FOREIGN KEY([k_ilan])
REFERENCES [dbo].[Ilan] ([ilan_id])
GO
ALTER TABLE [dbo].[Kullanici] CHECK CONSTRAINT [FK_Kullanici_Ilanlarr]
GO
